<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hospitalRepository" class="careplus.server.repository.InMemoryHospitalRepository" />

    <bean id="hospitalService" class="careplus.server.HospitalService">
        <constructor-arg ref="hospitalRepository" />
    </bean>

    <bean id="carePlusServer" class="careplus.server.CarePlusServer">
        <constructor-arg value="8888" />
        <constructor-arg ref="hospitalService" />
    </bean>

    <bean id="carePlusClient" class="careplus.client.CarePlusClient">
        <constructor-arg value="localhost" />
        <constructor-arg value="8888" />
    </bean>
</beans>
